@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efefef;
  --foreground: #efefef;
    
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #efefef;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
